@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900);

body {
	background: #FE5F55;
	font-weight: 300;
	color: #f0f0f0;
	font-family: 'Lato', Arial, sans-serif;
	text-align: center;
}

/* grid */
.logo {
	margin: 0;
	padding: 0;
	list-style: none;
	max-width: 40%;
	margin: 250px auto;
}

.logo div {
	font-size: 12em;
	line-height: 1.5;
	max-height: 290px;
	text-align: center;
	width: 16.6666667%;
	/* Fallback */
	width: -webkit-calc(100% / 6);
	width: calc(100% / 6);
}

/* Common styles for the letters */
.logo div span {
	display: inline-block;
	font-weight: 900;
	line-height: 1;
	position: relative;
	color: hsla(0, 0%, 0%, 0.6);
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 550px;
	-ms-perspective: 550px;
	perspective: 550px;
	z-index: 1;
}

.logo div span:before,
.logo div span:after {
	position: absolute;
	content: attr(data-letter);
	line-height: inherit;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.logo div span:before {
	text-shadow: none;
	color: hsla(0, 0%, 0%, 0.12);
}

.logo div span.name{
color:white;
position: absolute;
line-height: 1.5;
text-shadow: 0px 2px 4px rgba(0,0,0,0.4);
}

/* Colors */
.ot-letter-left { background: #FE5F55; }
.ot-letter-left span { text-shadow: 1px 4px 6px #FE5F55, 0 0 0 hsla(0, 0%, 0%, 0.3), 1px 4px 6px #FE5F55; }
.ot-letter-left span:after { color: #fff; }
.ot-letter-left:hover span:after { color: #fff; }

/* Left */
.ot-letter-left span:before,
.ot-letter-left span:after {
	-webkit-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

.ot-letter-left span:before {
	-webkit-transform: scale(1.08,1) skew(0deg,1deg);
	-ms-transform: scale(1.08,1) skew(0deg,1deg);
	transform: scale(1.08,1) skew(0deg,1deg);
}

.ot-letter-left span:after {
	text-shadow: -1px 0px 0px hsla(360, 100%, 100%, 0.1), 3px 0px 1px hsla(0, 0%, 0%, 0.4);
	-webkit-transform: rotateY(-15deg);
	-ms-transform: rotateY(-15deg);
	transform: rotateY(-15deg);
}

.ot-letter-left:hover span:before {
	-webkit-transform: scale(0.85,1) skew(0deg,20deg);
	-ms-transform: scale(0.85,1) skew(0deg,20deg);
	transform: scale(0.85,1) skew(0deg,20deg);
}

.ot-letter-left:hover span:after {
	-webkit-transform: rotateY(-40deg);
	-ms-transform: rotateY(-40deg);
	transform: rotateY(-40deg);
}

/* Example for media query: change number of items per row */
@media screen and (max-width: 560px) {
	.logo{
		font-size: 0.3rem;
		width: 100%;
		max-width: 80%;
	}
	.logo div{
		width: 50%;
	}
	.logo div span.name {
		margin-left: 2px;
	}

}